<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
</head>

<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:70%;vertical-align:middle">
              <h1>
                Junhwa Hur
              </h1>
              <p>Hello! I am a research scientist at Google DeepMind in Cambridge, MA, USA. I received my Ph.D. at <a href="http://www.tu-darmstadt.de/index.en.jsp">Technische Universität Darmstadt</a>, where I was supervised by <a href="https://www.visinf.tu-darmstadt.de/visual_inference/people_vi/stefan_roth.en.jsp">Prof. Stefan Roth Ph.D.</a> at <a href="https://www.visinf.tu-darmstadt.de/visual_inference/index.en.jsp">Visual Inference group</a>. I received my M.Sc. at Seoul National University and B.Sc. at POSTECH.
              </p>
              <p style="text-align:center">
                <a href="mailto:junhwa.hur@gmail.com">Email</a> &nbsp;/&nbsp;
                <a href="/pdfs/cv.pdf">CV</a>  &nbsp;/&nbsp;
                <a href="https://scholar.google.com/citations?user=z4dNJdkAAAAJ&hl=en">Google Scholar</a> &nbsp;/&nbsp;
                <a href="https://github.com/hurjunhwa">Github</a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/junhwa-hur"> LinkedIn </a>
              </p>
            </td>
            <td style="padding:2.5%;width:30%;max-width:30%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/profile_img.png">
            </td>
          </tr>
        </table>


<!-- News -->
<!--         <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>News</h2>
              <ul>{% for post in site.posts %}{% for cat in post.categories %}{% if cat == 'news' %}{% if post.visible == true %}
              <li>{{ post.date | date: "%m/%Y" }}: {{post.comment}}</li>{% endif %}{% endif %}{% endfor %}{% endfor %}</ul>
            </td>
          </tr>
        </table> -->

<!-- Research -->
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
        {% for post in site.posts %}{% for cat in post.categories %}{% if cat == 'research' %}
          <tr onmouseout="{{post.alias}}_stop()" onmouseover="{{post.alias}}_start()">
            <td style="padding:2.0%;width:22%;vertical-align:middle;min-width:180px">
              <div class="one" style="width:auto; height:auto; max-width:100%; position: relative;">
                <img src="{{ post.image }}" width="160" style="display: block; width: 100%; height: auto;">
                <div class="two" id="{{post.alias}}_mouseover" style="width:100%; height:100%; position: absolute; top: 0; left: 0; opacity: 0; transition: opacity 0.3s ease-in-out;">
                  {% if post.video_over %}
                    <video width="160" height="auto" muted loop preload="auto" style="display: block; width: 100%; height: auto;">
                      <source src="{{ post.video_over }}" type="video/mp4">
                      Your browser does not support the video tag.
                    </video>
                  {% elsif post.image_over %}
                    <img src="{{ post.image_over }}" width="160" style="display: block; width: 100%; height: auto;">
                  {% endif %}
                </div>
              </div>

              <script type="text/javascript">
                function {{post.alias}}_start() {
                  const mouseoverDiv = document.getElementById('{{post.alias}}_mouseover');
                  if (!mouseoverDiv) return;

                  mouseoverDiv.style.opacity = "1";

                  {% if post.video_over %}
                    const videoElement = mouseoverDiv.querySelector('video');
                    if (videoElement) {videoElement.play();}
                  {% endif %}
                }

                function {{post.alias}}_stop() {
                  const mouseoverDiv = document.getElementById('{{post.alias}}_mouseover');
                   if (!mouseoverDiv) return;

                  mouseoverDiv.style.opacity = "0";

                  // Only try to pause video if video_over exists for this post
                  {% if post.video_over %}
                    const videoElement = mouseoverDiv.querySelector('video');
                    if (videoElement) {
                      videoElement.pause();
                      // Optional: Reset video to the beginning when paused
                      // videoElement.currentTime = 0;
                    }
                  {% endif %}
                }
                // Initial call to ensure the mouseover content is hidden on page load
                {{post.alias}}_stop();
              </script>
            </td>
            <td style="padding:2.0%;width:75%;vertical-align:middle">              
              {% if post.titlelink %}<a href="{{post.titlelink}}"><h3>{{post.title}}</h3></a>{% else %}<h3>{{post.title}}</h3>{% endif %}
              <br>
              {{post.authors}}
              <br>
              {% if post.equal_contribution %}<em>*Equal contribution</em><br>{% endif %}
              <em>{{post.venue}}</em>, {{post.year}}{% if post.comment %}<font color="#FA4841"><b>&nbsp;&nbsp;{{post.comment}}</b></font>{% endif %}
              <br>{% if post.comingsoon %}<font color="gray">coming soon!</font>{% else %}
              <a href="{{post.paper}}">paper</a>{% if post.supp %} / 
              <a href="{{post.supp}}">supp</a>{% endif %}{% if post.arxiv %} / 
              <a href="{{post.arxiv}}">arxiv</a>{% endif %}{% if post.project %} / 
              <a href="{{post.project}}">project</a>{% endif %}{% if post.code %} / 
              <a href="{{post.code}}">code</a>{% endif %}{% if post.talk %} / 
              <a href="{{post.talk}}">talk</a>{% endif %}{% if post.video %} / 
              <a href="{{post.video}}">video</a>{% endif %}{% if post.poster %} / 
              <a href="{{post.poster}}">poster</a>{% endif %}{% if post.slide %} / 
              <a href="{{post.slide}}">slide</a>{% endif %}{% endif %}
              {{ post.excerpt }}
            </td>
          </tr>
        {% endif %}{% endfor %}{% endfor %}
      </table>


<!-- Academic Service -->
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Academic Service </h2>
              <p>
                • Area chair: ECCV 2024, CVPR 2025, ICCV 2025, NeurIPS 2025 <br>
                • Outstanding reviewer awards: CVPR (2018, 2019, 2020, 2022, 2024), NeurIPS (2023), ICCV (2021), ECCV (2020), ACCV (2020)
              </p>
            </td>
          </tr>
        </table>



        <br>
        <br>
        <br>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:right;font-size:small;">
                Design / source code from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron</a>'s / <a style="font-size:small;" href="https://leonidk.com/">Leonid Keselman</a>'s website
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>

